@import "../shared/helper";
.home{
    background: #010310; color: white;
    display: flex;
    flex-direction: column;
    flex:1;
    header{
        height: px(99);
        background-size: cover;
    }
    main{
        // border: 1px solid black;
        padding-top: px(30);
        flex: 1;
        display: grid;
        grid-row-gap: px(28);
        grid-column-gap: px(28);
        grid-template: 
        "box1 box2  box4 box5 " 755fr
        "box3 box3  box4 box5 " 363fr / 366fr 361fr 811fr 747fr;
        > section {text-align: center;}
        .bordered{
            border: 1px solid #0f3362;
            position: relative;
            border-radius: 4px;
            box-shadow: 0 0 2px 0 #0e325f, inset 0 0 2px 0 #0e325f;
            background:#0c1139;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                border-radius: 4px;
                box-shadow:
                 17px 0 0 -16px #0e325f,
                -17px 0 0 -16px #0e325f,
                0 17px 0 -16px #0e325f,
                0 -17px 0 -16px #0e325f,

                9px 0 0 -8px #0d4483,
                -9px 0 0 -8px #0d4483,
                0 9px 0 -8px #0d4483,
                0 -9px 0 -8px #0d4483,;
              }
              
        }
        .section1{
            grid-area:box1;
            // background:pink;
        }
        .section2{
            grid-area:box2;
            // background:lightgray;
        }
        .section3{
            grid-area:box3;
            // background:lightblue;
        }
        .section4{
            grid-area:box4;
            // background:lightyellow;
        }
        .section5{
            grid-area:box5;
            // background:pink;
        }
        .管辖统计{
            //   border: 1px solid red;
              height: px(315);
              display: flex;
              flex-direction: column;
              align-items: center;
            h2 {
                flex-shrink: 0;
                border: 1px solid #0a5299;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                font-size: px(22);
                line-height: px(24);
                padding: px(10) px(28);
                text-shadow: 0 0 px(3) white;
            }
            .chart{
                // border: 1px solid green;
                flex: 1;
                width: 100%;
              }
          }
    }
   
}
